*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #D0300E;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content: "";
	display: block;
	clear: both;
}
header{

}
header h1{
	float: left;
	padding: 15px 0;
	color: #D0300E;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #D0300E;
	color: #fff;
}
.active{
	background-color: #D0300E;
	color: #fff;
}
.banner{
height: 60vh;
background-image: url(../img/banner.jpg);
position: relative;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(178, 34, 34, 0.6);
}
.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}
section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #D0300E;
}
.about{
	color: #666;
}
footer{
	padding: 30px 0;
	background-color: #F9927C;
	color: #F9DDD7 ;
	text-align: center;
}